# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject

# =========================
# Operating System Files
# =========================

# Windows
# =========================

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
*.db
db/sftp-config.json
ignat_bot.service
sftp-config.json
src/fd.txt
src/webhook curl.txt
*.service
src/11/from acme/ca.cer
src/11/from acme/conf.zip
src/11/from acme/conf/apache2/apache2.conf
src/11/from acme/conf/apache2/apache2.conf.dpkg-dist
src/11/from acme/conf/apache2/apache2.conf.in
src/11/from acme/conf/apache2/conf-available/charset.conf
src/11/from acme/conf/apache2/conf-available/javascript-common.conf
src/11/from acme/conf/apache2/conf-available/localized-error-pages.conf
src/11/from acme/conf/apache2/conf-available/other-vhosts-access-log.conf
src/11/from acme/conf/apache2/conf-available/php7.0-cgi.conf
src/11/from acme/conf/apache2/conf-available/roundcube.conf
src/11/from acme/conf/apache2/conf-available/security.conf
src/11/from acme/conf/apache2/conf-available/serve-cgi-bin.conf
src/11/from acme/conf/apache2/conf-enabled/charset.conf
src/11/from acme/conf/apache2/conf-enabled/javascript-common.conf
src/11/from acme/conf/apache2/conf-enabled/localized-error-pages.conf
src/11/from acme/conf/apache2/conf-enabled/other-vhosts-access-log.conf
src/11/from acme/conf/apache2/conf-enabled/roundcube.conf
src/11/from acme/conf/apache2/conf-enabled/security.conf
src/11/from acme/conf/apache2/conf-enabled/serve-cgi-bin.conf
src/11/from acme/conf/apache2/conf.d/_10.19.0.5.bak
src/11/from acme/conf/apache2/conf.d/_139.59.156.196.bak
src/11/from acme/conf/apache2/conf.d/roundcube.conf
src/11/from acme/conf/apache2/conf.d/vesta.conf
src/11/from acme/conf/apache2/envvars
src/11/from acme/conf/apache2/magic
src/11/from acme/conf/apache2/mods-available/access_compat.load
src/11/from acme/conf/apache2/mods-available/actions.conf
src/11/from acme/conf/apache2/mods-available/actions.load
src/11/from acme/conf/apache2/mods-available/alias.conf
src/11/from acme/conf/apache2/mods-available/alias.load
src/11/from acme/conf/apache2/mods-available/allowmethods.load
src/11/from acme/conf/apache2/mods-available/asis.load
src/11/from acme/conf/apache2/mods-available/auth_basic.load
src/11/from acme/conf/apache2/mods-available/auth_digest.load
src/11/from acme/conf/apache2/mods-available/auth_form.load
src/11/from acme/conf/apache2/mods-available/authn_anon.load
src/11/from acme/conf/apache2/mods-available/authn_core.load
src/11/from acme/conf/apache2/mods-available/authn_dbd.load
src/11/from acme/conf/apache2/mods-available/authn_dbm.load
src/11/from acme/conf/apache2/mods-available/authn_file.load
src/11/from acme/conf/apache2/mods-available/authn_socache.load
src/11/from acme/conf/apache2/mods-available/authnz_fcgi.load
src/11/from acme/conf/apache2/mods-available/authnz_ldap.load
src/11/from acme/conf/apache2/mods-available/authz_core.load
src/11/from acme/conf/apache2/mods-available/authz_dbd.load
src/11/from acme/conf/apache2/mods-available/authz_dbm.load
src/11/from acme/conf/apache2/mods-available/authz_groupfile.load
src/11/from acme/conf/apache2/mods-available/authz_host.load
src/11/from acme/conf/apache2/mods-available/authz_owner.load
src/11/from acme/conf/apache2/mods-available/authz_user.load
src/11/from acme/conf/apache2/mods-available/autoindex.conf
src/11/from acme/conf/apache2/mods-available/autoindex.load
src/11/from acme/conf/apache2/mods-available/buffer.load
src/11/from acme/conf/apache2/mods-available/cache.load
src/11/from acme/conf/apache2/mods-available/cache_disk.conf
src/11/from acme/conf/apache2/mods-available/cache_disk.load
src/11/from acme/conf/apache2/mods-available/cache_socache.load
src/11/from acme/conf/apache2/mods-available/cgi.load
src/11/from acme/conf/apache2/mods-available/cgid.conf
src/11/from acme/conf/apache2/mods-available/cgid.load
src/11/from acme/conf/apache2/mods-available/charset_lite.load
src/11/from acme/conf/apache2/mods-available/data.load
src/11/from acme/conf/apache2/mods-available/dav.load
src/11/from acme/conf/apache2/mods-available/dav_fs.conf
src/11/from acme/conf/apache2/mods-available/dav_fs.load
src/11/from acme/conf/apache2/mods-available/dav_lock.load
src/11/from acme/conf/apache2/mods-available/dbd.load
src/11/from acme/conf/apache2/mods-available/deflate.conf
src/11/from acme/conf/apache2/mods-available/deflate.load
src/11/from acme/conf/apache2/mods-available/dialup.load
src/11/from acme/conf/apache2/mods-available/dir.conf
src/11/from acme/conf/apache2/mods-available/dir.load
src/11/from acme/conf/apache2/mods-available/dump_io.load
src/11/from acme/conf/apache2/mods-available/echo.load
src/11/from acme/conf/apache2/mods-available/env.load
src/11/from acme/conf/apache2/mods-available/expires.load
src/11/from acme/conf/apache2/mods-available/ext_filter.load
src/11/from acme/conf/apache2/mods-available/fcgid.conf
src/11/from acme/conf/apache2/mods-available/fcgid.load
src/11/from acme/conf/apache2/mods-available/file_cache.load
src/11/from acme/conf/apache2/mods-available/filter.load
src/11/from acme/conf/apache2/mods-available/headers.load
src/11/from acme/conf/apache2/mods-available/heartbeat.load
src/11/from acme/conf/apache2/mods-available/heartmonitor.load
src/11/from acme/conf/apache2/mods-available/ident.load
src/11/from acme/conf/apache2/mods-available/include.load
src/11/from acme/conf/apache2/mods-available/info.conf
src/11/from acme/conf/apache2/mods-available/info.load
src/11/from acme/conf/apache2/mods-available/lbmethod_bybusyness.load
src/11/from acme/conf/apache2/mods-available/lbmethod_byrequests.load
src/11/from acme/conf/apache2/mods-available/lbmethod_bytraffic.load
src/11/from acme/conf/apache2/mods-available/lbmethod_heartbeat.load
src/11/from acme/conf/apache2/mods-available/ldap.conf
src/11/from acme/conf/apache2/mods-available/ldap.load
src/11/from acme/conf/apache2/mods-available/log_debug.load
src/11/from acme/conf/apache2/mods-available/log_forensic.load
src/11/from acme/conf/apache2/mods-available/lua.load
src/11/from acme/conf/apache2/mods-available/macro.load
src/11/from acme/conf/apache2/mods-available/mime.conf
src/11/from acme/conf/apache2/mods-available/mime.load
src/11/from acme/conf/apache2/mods-available/mime_magic.conf
src/11/from acme/conf/apache2/mods-available/mime_magic.load
src/11/from acme/conf/apache2/mods-available/mpm_event.conf
src/11/from acme/conf/apache2/mods-available/mpm_event.load
src/11/from acme/conf/apache2/mods-available/mpm_prefork.conf
src/11/from acme/conf/apache2/mods-available/mpm_prefork.load
src/11/from acme/conf/apache2/mods-available/mpm_worker.conf
src/11/from acme/conf/apache2/mods-available/mpm_worker.load
src/11/from acme/conf/apache2/mods-available/negotiation.conf
src/11/from acme/conf/apache2/mods-available/negotiation.load
src/11/from acme/conf/apache2/mods-available/php7.0.conf
src/11/from acme/conf/apache2/mods-available/php7.0.load
src/11/from acme/conf/apache2/mods-available/proxy.conf
src/11/from acme/conf/apache2/mods-available/proxy.load
src/11/from acme/conf/apache2/mods-available/proxy_ajp.load
src/11/from acme/conf/apache2/mods-available/proxy_balancer.conf
src/11/from acme/conf/apache2/mods-available/proxy_balancer.load
src/11/from acme/conf/apache2/mods-available/proxy_connect.load
src/11/from acme/conf/apache2/mods-available/proxy_express.load
src/11/from acme/conf/apache2/mods-available/proxy_fcgi.load
src/11/from acme/conf/apache2/mods-available/proxy_fdpass.load
src/11/from acme/conf/apache2/mods-available/proxy_ftp.conf
src/11/from acme/conf/apache2/mods-available/proxy_ftp.load
src/11/from acme/conf/apache2/mods-available/proxy_html.conf
src/11/from acme/conf/apache2/mods-available/proxy_html.load
src/11/from acme/conf/apache2/mods-available/proxy_http.load
src/11/from acme/conf/apache2/mods-available/proxy_scgi.load
src/11/from acme/conf/apache2/mods-available/proxy_wstunnel.load
src/11/from acme/conf/apache2/mods-available/ratelimit.load
src/11/from acme/conf/apache2/mods-available/reflector.load
src/11/from acme/conf/apache2/mods-available/remoteip.load
src/11/from acme/conf/apache2/mods-available/reqtimeout.conf
src/11/from acme/conf/apache2/mods-available/reqtimeout.load
src/11/from acme/conf/apache2/mods-available/request.load
src/11/from acme/conf/apache2/mods-available/rewrite.load
src/11/from acme/conf/apache2/mods-available/rpaf.conf
src/11/from acme/conf/apache2/mods-available/rpaf.load
src/11/from acme/conf/apache2/mods-available/ruid2.load
src/11/from acme/conf/apache2/mods-available/sed.load
src/11/from acme/conf/apache2/mods-available/session.load
src/11/from acme/conf/apache2/mods-available/session_cookie.load
src/11/from acme/conf/apache2/mods-available/session_crypto.load
src/11/from acme/conf/apache2/mods-available/session_dbd.load
src/11/from acme/conf/apache2/mods-available/setenvif.conf
src/11/from acme/conf/apache2/mods-available/setenvif.load
src/11/from acme/conf/apache2/mods-available/slotmem_plain.load
src/11/from acme/conf/apache2/mods-available/slotmem_shm.load
src/11/from acme/conf/apache2/mods-available/socache_dbm.load
src/11/from acme/conf/apache2/mods-available/socache_memcache.load
src/11/from acme/conf/apache2/mods-available/socache_shmcb.load
src/11/from acme/conf/apache2/mods-available/speling.load
src/11/from acme/conf/apache2/mods-available/ssl.conf
src/11/from acme/conf/apache2/mods-available/ssl.load
src/11/from acme/conf/apache2/mods-available/status.conf
src/11/from acme/conf/apache2/mods-available/status.load
src/11/from acme/conf/apache2/mods-available/substitute.load
src/11/from acme/conf/apache2/mods-available/suexec.load
src/11/from acme/conf/apache2/mods-available/unique_id.load
src/11/from acme/conf/apache2/mods-available/userdir.conf
src/11/from acme/conf/apache2/mods-available/userdir.load
src/11/from acme/conf/apache2/mods-available/usertrack.load
src/11/from acme/conf/apache2/mods-available/vhost_alias.load
src/11/from acme/conf/apache2/mods-available/wsgi.load
src/11/from acme/conf/apache2/mods-available/xml2enc.load
src/11/from acme/conf/apache2/mods-enabled/access_compat.load
src/11/from acme/conf/apache2/mods-enabled/actions.conf
src/11/from acme/conf/apache2/mods-enabled/actions.load
src/11/from acme/conf/apache2/mods-enabled/alias.conf
src/11/from acme/conf/apache2/mods-enabled/alias.load
src/11/from acme/conf/apache2/mods-enabled/auth_basic.load
src/11/from acme/conf/apache2/mods-enabled/authn_core.load
src/11/from acme/conf/apache2/mods-enabled/authn_file.load
src/11/from acme/conf/apache2/mods-enabled/authz_core.load
src/11/from acme/conf/apache2/mods-enabled/authz_host.load
src/11/from acme/conf/apache2/mods-enabled/authz_user.load
src/11/from acme/conf/apache2/mods-enabled/autoindex.conf
src/11/from acme/conf/apache2/mods-enabled/autoindex.load
src/11/from acme/conf/apache2/mods-enabled/cgi.load
src/11/from acme/conf/apache2/mods-enabled/deflate.conf
src/11/from acme/conf/apache2/mods-enabled/deflate.load
src/11/from acme/conf/apache2/mods-enabled/dir.conf
src/11/from acme/conf/apache2/mods-enabled/dir.load
src/11/from acme/conf/apache2/mods-enabled/env.load
src/11/from acme/conf/apache2/mods-enabled/fcgid.conf
src/11/from acme/conf/apache2/mods-enabled/fcgid.load
src/11/from acme/conf/apache2/mods-enabled/filter.load
src/11/from acme/conf/apache2/mods-enabled/mime.conf
src/11/from acme/conf/apache2/mods-enabled/mime.load
src/11/from acme/conf/apache2/mods-enabled/mpm_prefork.conf
src/11/from acme/conf/apache2/mods-enabled/mpm_prefork.load
src/11/from acme/conf/apache2/mods-enabled/negotiation.conf
src/11/from acme/conf/apache2/mods-enabled/negotiation.load
src/11/from acme/conf/apache2/mods-enabled/php7.0.conf
src/11/from acme/conf/apache2/mods-enabled/php7.0.load
src/11/from acme/conf/apache2/mods-enabled/proxy.conf
src/11/from acme/conf/apache2/mods-enabled/proxy.load
src/11/from acme/conf/apache2/mods-enabled/proxy_http.load
src/11/from acme/conf/apache2/mods-enabled/rewrite.load
src/11/from acme/conf/apache2/mods-enabled/rpaf.conf
src/11/from acme/conf/apache2/mods-enabled/rpaf.load
src/11/from acme/conf/apache2/mods-enabled/ruid2.load
src/11/from acme/conf/apache2/mods-enabled/setenvif.conf
src/11/from acme/conf/apache2/mods-enabled/setenvif.load
src/11/from acme/conf/apache2/mods-enabled/socache_shmcb.load
src/11/from acme/conf/apache2/mods-enabled/ssl.conf
src/11/from acme/conf/apache2/mods-enabled/ssl.load
src/11/from acme/conf/apache2/mods-enabled/status.conf
src/11/from acme/conf/apache2/mods-enabled/status.load
src/11/from acme/conf/apache2/mods-enabled/suexec.load
src/11/from acme/conf/apache2/mods-enabled/wsgi.load
src/11/from acme/conf/apache2/ports.conf
src/11/from acme/conf/apache2/sites-available/000-default.conf
src/11/from acme/conf/apache2/sites-available/001-default.conf
src/11/from acme/conf/apache2/sites-available/default
src/11/from acme/conf/apache2/sites-available/default-ssl
src/11/from acme/conf/apache2/sites-available/default-ssl.conf
src/11/from acme/conf/apache2/sites-enabled/001-default.conf
src/11/from acme/conf/apache2/suexec/www-data
src/11/from acme/conf/home/admin/conf/web/apache2.conf
src/11/from acme/conf/home/admin/conf/web/guestl.info.nginx.ssl.conf
src/11/from acme/conf/home/admin/conf/web/nginx.conf
src/11/from acme/conf/home/admin/conf/web/sapache2.guestl.info.uwsgi.conf
src/11/from acme/conf/home/admin/conf/web/snginx.guestl.info.conf_letsencrypt.conf
src/11/from acme/conf/nginx/conf.d/01_caching_pool.conf
src/11/from acme/conf/nginx/conf.d/10.19.0.5.conf
src/11/from acme/conf/nginx/conf.d/139.59.156.196.conf
src/11/from acme/conf/nginx/conf.d/default.conf.dpkg-dist
src/11/from acme/conf/nginx/conf.d/phpmyadmin.inc
src/11/from acme/conf/nginx/conf.d/phppgadmin.inc
src/11/from acme/conf/nginx/conf.d/status.conf
src/11/from acme/conf/nginx/conf.d/vesta.conf
src/11/from acme/conf/nginx/conf.d/webmail.inc
src/11/from acme/conf/nginx/fastcgi_params
src/11/from acme/conf/nginx/nginx.conf
src/11/from acme/conf/nginx/nginx.conf.dpkg-dist
src/11/from acme/conf/nginx/ssl/guestl.info/cert.pem
src/11/from acme/conf/nginx/ssl/guestl.info/fullchain.pem
src/11/from acme/conf/nginx/ssl/guestl.info/key.pem
src/11/from acme/fullchain.cer
src/11/from acme/guestl.info.cer
src/11/from acme/guestl.info.conf
src/11/from acme/guestl.info.csr
src/11/from acme/guestl.info.csr.conf
src/11/from acme/guestl.info.key
src/11/from acme/output.html
src/11/ssl.guestl.info.ca
src/11/ssl.guestl.info.crt
src/11/ssl.guestl.info.key
src/11/ssl.guestl.info.pem
src/ignat_bot2.py
src/ignat_bot3.py
src/tt.py
src/echo_server.py
src/token.py
